.not-allowed {
    cursor: not-allowed !important;
    pointer-events: inherit !important;
}

.f-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursor-ptr {
    cursor: pointer !important;
}

.cursor-default {
    cursor: default !important;
}

.text-center {
    text-align: center !important;
}

.w-100 {
    width: 100%;
}

.no-overflow {
    overflow: hidden !important;
}
